body {
    margin: 0;
}
/* navigation bar */
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 2, 34);
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 1;
}
.header li {
    float: right;
}
.header li a {
    display: block;
    color: rgb(252, 241, 242);
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}
.float {
    float: right;
    padding: 7px;
 }
.float:hover {
    background-color: rgba(19, 14, 22, 0.829);
}

/* products */
.ad {
    box-shadow: 0 4px 40px 10px rgba(70, 55, 55, 0.1);
    margin-top: 60px;
}
.pdbar {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
}

/* products */ 
.container {
    display: flex;
    flex-flow: row wrap;
    padding: 15px 7px;
    justify-content: space-around;
    background-color: white;
}

.container div {
    background-color: white;
    box-shadow: 0 4px 20px 4px rgba(70, 55, 55, 0.1);
    padding: 20px 10px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    flex-basis: 22%;
    font-family: "Josefin Sans", sans-serif;
}
.container img:hover {
    cursor: pointer;
    transform: scale(1.04,1.04);
}
.container h3 {
    color: rgb(255, 51, 0);
}

.container h2 {
    color: rgb(27, 248, 7);
}

.container span {
    font-size: 17px;
    color: rgb(226, 78, 78);
    text-decoration: line-through 1.2px;
}
.container .buy {
    background-color: red;
    width: 100px;
    margin-left: 85px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
.container a {
    text-decoration: none;
}
.container .buy:hover {
    cursor: pointer;
    background-color: rgba(236, 50, 50, 0.897);
}

/* footer  */
.footer {
    color: black;
    box-shadow: 0 4px 30px 10px rgba(70, 55, 55, 0.1);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer div {
    padding: 1px;
}

/* footer class */
.shop {
    padding: 10px;
    font-size: 15px;
}

.terms {
    text-align: justify;
}

.terms ul {
    list-style-type: none;
    margin-left: -39px;
}
.terms li {
    padding: 2px;
}
.terms a {
    color: black;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: 1.4px underline solid rgb(0, 0, 0);
}

.socialmedia{
    text-align: center;
}
.socialmedia p {
    font-size: 35px;
}
.socialmedia p i {
    padding: 7px;
}
.socialmedia p .fb {
    color: rgb(38, 0, 255);
}
.socialmedia p .insta {
    color: rgb(248, 8, 88);
}
.socialmedia p .linkdin {
    color: rgb(46, 46, 250);
}
.socialmedia p .twitter {
    color: black;
}
.socialmedia p .yt {
    color: red;
}
.socialmedia p .tele {
    color: rgb(0, 162, 255);
}

.contact h1 {
    font-size: 50px;
}